@import "../../global.scss";
.list-adjust{
    font-size: x-large;
}
.dailog-nav{
    background-color: $primary-bg-color;
    width: 100%;
    height: 60px;
    margin-top: -12px;
}
.text-adjustment{
    color:rgb(4, 4, 88);
    font-weight: bold;
    border-radius:56px;

}

